
html,
body {
    width:100%;
    height:100%;
}

html{
	display: table;
}

html, body, div, a, span{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*{
	margin:0 auto;
	-webkit-box-sizing:border-box;
	box-sizing:border-box; 
}

.hidden{
    display: none;
}

$black: #14161a;
$green: #51dc78;
$red: #fd6055;
$blue: #4ab9ec;
$purple: #c07bf5;
$yellow: #e6db41;
$grey: #1c1d21;

.clear::after{clear:both;}

body {

	margin-left:0px!important;
	position:relative;
	background-image:url(../img/icon.jpg);
	background-repeat:no-repeat;
	background-size:1104px 621px;	

	background-color: $black;
	text-align: center;
	margin: 0px;
	font-weight: 300;
	color: #7e7e7e;
	font-family: "sfns", "Open Sans", "Source Sans", "Helvetica Neue", Helvetica, Arial;
    display:table-cell;
    vertical-align:top;	
    text-align: left;
    font-size: 120%;
}


.fullMainWrapper{
	width:1104px;
	height:621px;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
    overflow: hidden;
}



.mainwrapper{
    width: 368px;
    height: 545px;
    display: block;
    position: relative;
    background-color: $black;
    float: left;
    transition: width 0.15s;
    border-right: 1px solid black;
}

#mainTemp{
    border-right: none;
}

#jalHandle{
    width: 30px;
    height: auto;
    position: absolute;
    left: 49px;
    top: -3px;
    transition: opacity 0.15s;
}

#jalHandle.hiddenjalHandle{
    opacity: 0;
}


.element{
    display: inline-block;
    box-sizing: border-box;
    float: left;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: #9B9C9D;
}

.top, .bottom{
    width: 100%;
    height: 75px;
    z-index: 3;
    cursor: pointer;
    line-height: 75px;
    font-size: 21px;
    text-align: center;
    transition: border 0.15s, color 0.15s, background-color 0.15s;
}

.top{
    border-top: none !important;
    border-bottom: 1px solid black;
}

.bottom{
    border-top: 1px solid black;
    border-bottom: none !important;    
}

.onlyBorder{
    background-color: $black;
}

.top.onlyBorder{
    border-bottom: 1px solid $black;
    color: transparent !important;
}
.top.onlyBorderButText{
    border-bottom: 1px solid $black;
}

.bottom.onlyBorder{
    border-top: 1px solid $black;
    color: transparent !important;
}

.bottom.onlyBorderButText{
    border-top: 1px solid $black;
}

.top.selected, .bottom.selected{
    background-color: white;
    color: $black;
    border-style: solid;
    border-color: white;
    font-weight: 400;
}


.main{
    width: 100%;
    height: 395px;
    z-index: 2;
}

.iconLayer{
    display: block;
    position: absolute;
    bottom: 97.5px;
    left: 119.5px;
    width: 125px;
    height: 200px;
    background-color: $black;
    transition: background .15s;
    overflow: visible;
    box-sizing: border-box;
    background-image: url(../icon-bg.png);
    background-position: center bottom;
    background-size: 100% 100%;
    transition: opacity 0.15s, left 0.15s, transform 0.15s;
}

#mainJal .iconLayer{
/*
    top: 97.5px;
    bottom: auto;
*/
}

.animatedHeight{
    transition:opacity 0.15s, height 0.15s !important;
}

.hideBg{
    opacity: 0.1;
}

.iconOverlay{
    display: block;
    position: absolute;
    bottom: 0px;
}

#mainJal .iconOverlay{
/*
    top: 0px;
    bottom: auto;
*/
}


.side{
    width: 20%;
    height: 100%;
    display: block;
    right: 0px;
    z-index: 4;
    position: absolute;
    text-align: center;
    padding: 10px 0px;
}

.handle{
    display: inline-block;
    pointer-events: all;
    width: 37.5px;
    height: 75px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.handleCircle{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 18.75px;
    right: 11px;
    border-radius: 999em;
    background-color: white;
    border: 4px solid rgba(76, 76, 76, 1);
    box-sizing: border-box;
    transition: background-color 0.15s, opacity 0.15s, transform 0.15s;
}

.handleCircleSmall{
    transform: scale(0.75);
    background-color: white;
    border-color: white;
    opacity: 0.75;
}

.ui-draggable-dragging .handle .handleCircle{
    transform: scale(0.75);
    background-color: white;
    border-color: white;
    opacity: 0.9;
}

.ui-draggable-dragging .handle .handleCircle.greenCircle, .greenCircle{
    background-image: url(../greenleafwhite.png);
    background-position: center center;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-color: $green;
    border: none;
}

.textOverlay.selected .handleCircle{
    border-color: #afafaf;
    border-width: 4px;
}


.onTop{
    top: 18px !important;
}

.textOverlay{
    width: 100%;
    z-index: 6;
    background-color: rgba(120, 120, 120, 0.68);
    text-align: center;
    pointer-events: none;
    position: absolute;
    height: 75px;
    line-height: 72px;
    color: white;
    padding-top: 2px;
    font-weight: bold;
    top: 100px;
    left: 0px;
    transition: color 0.15s, background-color 0.15s;
}

.textOverlay.selected{
    background-color: transparent;
    color: $black;
    font-weight: 400;
}

.overlayValue{
    display: inline-block;
    width: 1.1em;
    text-align: left;
    font-size: 2.6em;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.textOverlayText .overlaySmall{
    font-size: 21px;
    display: inline-block;
    padding-left: 0.4em;
    font-weight: 400;
}

#mainTemp .textOverlayText{
    letter-spacing: 0.15em;
}

.textTransparent{
    color: rgba(255, 255, 255, 0) !important;
    background-color: rgba(255, 255, 255, 0) !important;
}


.skala{
    display: block;
    width: 17%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 0;
    text-align: center;
    transition: opacity 0.15s;
}

.skala.hidden{
    opacity: 0;
}

.skalaUl{
    list-style: none;
    display: inline-block;
    padding: 0px !important;
    padding-left: 8% !important;
    margin: 0px;
    text-align: center;
    width: 40%;
}

.greenleaf{
    width: 100%;
    height: 75px;
    display: block;
    position: absolute;
    text-align: center;
    top: 200px;
    z-index: 10;
}

.greenleaf.hidden{
    opacity: 0;
}

#mainJal .greenleaf{
    top: 100px;
}

#mainLight .greenleaf{
    top: 380px;
}

#mainTemp .greenleaf{
    top: 260px;
}

.greenleafIcon{
    display: inline-block;
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    margin-left: 0.5px;
    margin-top: 19.5px;
    border: 2px solid $green;
    border-radius: 9999em;
    background-color: $black;
    background-image: url(../greenleaf.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.skalaLi{
    width: 80%;
    float: left;
    margin: 0px;
    display: inline-block;
    margin-bottom: 9px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.175);
    border-radius: 5px;
    opacity: 0.2;
}

.skalaLi:first-child{
    margin-top: 3px;
}

/* //einkommentieren um die skala zu verkleinern - vlt. irgendwo hilfreich
.skalaLi:nth-child(even){
    opacity: 0 !important;
}
*/

#mainJal .skalaLi.selected{ //abhängig von der id dann machen
    background-color: #c07bf5;
}

#mainLight .skalaLi.selected{ //abhängig von der id dann machen
    background-color: #e6db41;
}

#mainTemp .skalaLi.selected.cooling{ //abhängig von der id dann machen
    background-color: #4ab9ec;
}

#mainTemp .skalaLi.selected.heating{ //abhängig von der id dann machen
    background-color: #fd6055;
}


.ghost{
    width: 100%;
    height: 75px;
    display: block;
    font-size: 21px;
    position: absolute;
    top: 250px;
    z-index: 10;
    text-align: center;
    transition: opacity 0.15s;
}

.ghost.hidden{
    opacity: 0;
}

.ghostIcon{
    display: inline-block;
    box-sizing: border-box;
    width: 43px;
    height: 43px;
    margin-left: 1px;
    margin-top: 18.5px;
    border: 2px solid white;
    border-radius: 9999em;
    line-height: 43px;
    color: white;
    font-weight: 400;
    background-color: $black;
    text-align: center;
}

.ghostIcon.heating{
    border-color: $red;
    color: $red;
}

.ghostIcon.cooling{
    border-color: $blue;
    color: $blue;
}

#mainJal .ghostIcon{
    border-color: $purple;
    color: $purple;
}

.detailOverlay{
    width: 100%;
    height: 545px;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    left: 0px;
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    opacity: 0;
    pointer-events: none;
}


.detailOverlay.hidden{
    opacity: 0;
}

.detailLight{
    background-image: url(../detail.jpg);
    transition: background 0.15s, opacity 0.15s;
}

.detailSettings{
    background-image: url(../timetable.jpg);
    transition: background 0.15s, opacity 0.15s, transform 0.15s;
    transform: translate(200px, -200px);
}

.detailSettings.shown{
    transform: translate(0);
}

.detailLight.shown{
    pointer-events: all;
}

.greentitle{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 76px;
    text-align: center;
    color: white;
    width: 100%;
    line-height: 76px;
    z-index: 10000000;
    font-size: 21px;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: #9B9C9D;
}

.greenleafNavigation {
    display: inline-block;
    width: 19px;
    height: 17px;
    background-image: url(../greenleafwhite.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
    margin-right: 10.5px;
}


.greenLeafButton.visible .greenleafNavigation{
    background-image: url(../greenleafactivewhite.png);
    opacity: 1;
}
.greenLeafButton.visible .greentitle{
    color: white;
}


.saveable.savedButton{
    color: $black;
    background-color: white;
}
